<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <!-- Link para o CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul id="menu">
                {% for item in menu_items %}
                    <li><a href="{{ url_for(item.url) }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <!-- Imagem ocupando toda a tela -->
    <section class="image-section">
   <!--     <img src="{{ url_for('static', filename='images/retroescavadeira.jpg') }}" alt="Retroescavadeira" class="retroescavadeira"> -->
        <img src="{{ url_for('static', filename='images/retroescavadeira.jpg') }}" alt="Retroescavadeira" width="1280" height="550" class="retroescavadeira">

    </section>
</body>
</html>
